#paymentwording {
  /* text-align: center !important; */
  /* margin-left: 750px !important;
  margin-right: 300px !important; */
  justify-content: center !important;
  /* margin-left: auto !important;
  margin-right: auto !important; */
  text-align: center !important;
  margin-top: 60px;
}
#btn {
  text-align: center !important;
}
/* 
#paymentwording {
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center !important;
  font-size: 1.85rem !important;
  font-weight: 400 !important;
  padding-top: 2% !important;
}
#paymentwording2 {
  text-align: center;
  margin-left: 100px !important;
  margin-right: 100px !important;
  font-size: 1.35rem !important;
  padding-top: 2% !important;
  padding-bottom: 1% !important;
} */
